<!-- Delete Modal -->
<script type="text/ng-template" id="deleteModal.html">
  <div class="modal-header">
    <p class="modal-title lead">
      {{'ACCOUNT.MODAL.DELETE.TITLE'|translate}}
    </p>
  </div>
  <div class="modal-body">
    <p>
      {{'ACCOUNT.MODAL.DELETE.BODY'|translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">{{'ACCOUNT.MODAL.DELETE.CANCEL'|translate}}</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="ok()">{{'ACCOUNT.MODAL.DELETE.OK'|translate}}</button>
  </div>
</script>
<!-- !Delete Modal -->

<div class="row">
  <div class="col-xs-12">
    <h3>
      {{'ACCOUNT.TITLE'|translate}} - <i>{{data.acc.name}}</i>
      <small>{{'ACCOUNT.BALANCE'|translate}}:
        <span ng-class="{'text-info':    data.acc.balance > data.acc.thresholds.ok,
                         'text-success': data.acc.balance > data.acc.thresholds.warning && data.acc.balance < data.acc.thresholds.ok,
                         'text-warning': data.acc.balance > data.acc.thresholds.critical && data.acc.balance < data.acc.thresholds.warning,
                         'text-danger':  data.acc.balance < data.acc.thresholds.critical}">
          <strong>{{data.acc.balance|currency:''}} €</strong>
        </span>
      </small>
    </h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group btn-group btn-group-justified">
      <label class="btn btn-default" ng-model="show" uib-btn-radio="'history'">{{'ACCOUNT.BUTTON_HISTORY'|translate}}</label>
      <label class="btn btn-default" ng-model="show" uib-btn-radio="'refine'">{{'ACCOUNT.BUTTON_REFINE'|translate}}</label>
      <label class="btn btn-default" ng-model="show" uib-btn-radio="'visual'">{{'ACCOUNT.BUTTON_CHARTS'|translate}}</label>
      <label class="btn btn-default" ng-model="show" uib-btn-radio="'config'"><i class="fa fa-fw fa-cogs"></i></label>
    </div>
  </div>
</div>

<div ng-show="show === 'history'">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="text-center"><a ng-click="order('date')">{{'ACCOUNT.HISTORY.DATE'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('amount')">{{'ACCOUNT.HISTORY.AMOUNT'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('post')">{{'ACCOUNT.HISTORY.POST'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('company')">{{'ACCOUNT.HISTORY.COMPANY'|translate}}</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>
              <input type="text" ng-model="newMove.date" class="input-sm form-control" placeholder="{{'ACCOUNT.HISTORY.DATE'|translate}}" uib-datepicker-popup="dd/MM/yyyy" is-open="open" show-button-bar="false" ng-focus="open=true">
            </td>
            <td>
              <input type="text" ng-model="newMove.amount" class="input-sm form-control" placeholder="{{'ACCOUNT.HISTORY.AMOUNT'|translate}}">
            </td>
            <td>
              <input type="text" ng-model="newMove.post" uib-typeahead="post for post in data.posts | filter:$viewValue | limitTo:8" class="input-sm form-control" placeholder="{{'ACCOUNT.HISTORY.POST'|translate}}">
            </td>
            <td>
              <input type="text" ng-model="newMove.company" uib-typeahead="comp for comp in data.comps | filter:$viewValue | limitTo:8" class="input-sm form-control" placeholder="{{'ACCOUNT.HISTORY.COMPANY'|translate}}">
            </td>
            <td>
              <button type="button" ng-disabled="!newMove.date || !newMove.amount" ng-click="insert()" class="btn btn-default btn-block btn-sm">{{'ACCOUNT.HISTORY.ADD'|translate}}</button>
            </td>
          </tr>
          <tr ng-repeat="move in data.acc.moves | orderBy:predicate:reverse">
            <td class="text-center">{{move.date|date:'dd-MM-yyyy'}}</td>
            <td class="text-center" ng-class="{'text-success': move.amount > 0, 'text-danger': move.amount < 0}"><strong>{{move.amount|currency:''}} €</strong></td>
            <td class="text-center">{{move.post}}</td>
            <td class="text-center">{{move.company}}</td>
            <td class="text-right">
              <button type="button" ng-click="remove(move)" class="btn btn-danger btn-block btn-xs"><i class="fa fa-fw fa-remove"></i>{{'ACCOUNT.HISTORY.REMOVE'|translate}}</button>
            </td>
          </tr>
          <tr class="active">
            <td colspan="5"><em>{{'ACCOUNT.HISTORY.INIT'|translate}}: {{data.acc.init|currency:''}} €</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-show="show === 'refine'">
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <div class="btn-group-vertical btn-block" data-toggle="buttons">
          <label ng-repeat="post in data.posts" class="btn btn-sm btn-default" ng-click="refinePost(post)">
            <input type="checkbox" autocomplete="off">{{post}}
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="btn-group-vertical btn-block" data-toggle="buttons">
          <label ng-repeat="comp in data.comps" class="btn btn-sm btn-default" ng-click="refineComp(comp)">
            <input type="checkbox" autocomplete="off">{{comp}}
          </label>
        </div>
      </div>
      <div class="form-group">
        <input type="text" ng-model="refine.from" class="input-sm form-control" placeholder="{{'ACCOUNT.REFINE.DATE_FROM'|translate}}" uib-datepicker-popup="dd/MM/yyyy" is-open="from" show-button-bar="false" ng-focus="from=true">
      </div>
      <div class="form-group">
        <input type="text" ng-model="refine.to" class="input-sm form-control" placeholder="{{'ACCOUNT.REFINE.DATE_TO'|translate}}" uib-datepicker-popup="dd/MM/yyyy" is-open="to" show-button-bar="false" ng-focus="to=true">
      </div>
    </div>
    <div class="col-xs-10">
      <div class="row text-center">
        <div class="col-xs-4">
          <p class="well well-sm">
            <strong>{{'ACCOUNT.REFINE.AVERAGE'|translate}}</strong><br>
            {{avg(results)|currency:''}} €
          </p>
        </div>
        <div class="col-xs-4">
          <p class="well well-sm">
            <strong>{{'ACCOUNT.REFINE.MIN'|translate}}</strong><br>
            {{min(results)|currency:''}} €
          </p>
        </div>
        <div class="col-xs-4">
          <p class="well well-sm">
            <strong>{{'ACCOUNT.REFINE.MAX'|translate}}</strong><br>
            {{max(results)|currency:''}} €
          </p>
        </div>
      </div>
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="text-center"><a ng-click="order('date')">{{'ACCOUNT.HISTORY.DATE'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('amount')">{{'ACCOUNT.HISTORY.AMOUNT'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('post')">{{'ACCOUNT.HISTORY.POST'|translate}}</a></th>
            <th class="text-center"><a ng-click="order('company')">{{'ACCOUNT.HISTORY.COMPANY'|translate}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="move in data.acc.moves | orderBy:predicate:reverse | refineFilter:refine as results">
            <td class="text-center">{{move.date|date:'dd-MM-yyyy'}}</td>
            <td class="text-center" ng-class="{'text-success': move.amount > 0, 'text-danger': move.amount < 0}"><strong>{{move.amount|currency:''}} €</strong></td>
            <td class="text-center">{{move.post}}</td>
            <td class="text-center">{{move.company}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-show="show === 'visual'">
  <p class="lead text-center">
    WIP
  </p>
</div>

<div ng-show="show === 'config'">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        {{'ACCOUNT.CONFIG.HELP_TEXT'|translate}}
      </p>
    </div>
  </div>

  <div class="row form-group">
    <form name="thresholdsForm">
      <div class="col-xs-4">
        <div class="form-group has-feedback"
             ng-class="{'has-success': thresholdsForm.critical.$valid, 'has-error': !thresholdsForm.critical.$valid}">
          <label class="text-danger">{{'ACCOUNT.CONFIG.CRITICAL_THRESHOLD'|translate}}</label>
          <input type="number"
                 name="critical"
                 max="{{data.acc.thresholds.warning - 1}}"
                 ng-model="data.acc.thresholds.critical"
                 ng-model-options="{debounce: 1000, allowInvalid: false}"
                 ng-change="updateTS(thresholdsForm.$valid)"
                 class="form-control input-sm"
                 placeholder="{{'ACCOUNT.CONFIG.CRITICAL_THRESHOLD'|translate}}"
                 required>
          <i class="fa fa-fw form-control-feedback"
             ng-class="{'fa-check': thresholdsForm.critical.$valid, 'fa-times': !thresholdsForm.critical.$valid}"
             aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group has-feedback"
             ng-class="{'has-success': thresholdsForm.warning.$valid, 'has-error': !thresholdsForm.warning.$valid}">
          <label class="text-warning">{{'ACCOUNT.CONFIG.WARNING_THRESHOLD'|translate}}</label>
          <input type="number"
                 name="warning"
                 min="{{data.acc.thresholds.critical}}"
                 max="{{data.acc.thresholds.ok - 1}}"
                 ng-model="data.acc.thresholds.warning"
                 ng-model-options="{debounce: 1000}"
                 ng-change="updateTS(thresholdsForm.$valid)"
                 class="form-control input-sm"
                 placeholder="{{'ACCOUNT.CONFIG.WARNING_THRESHOLD'|translate}}"
                 required>
                 <i class="fa fa-fw form-control-feedback"
                    ng-class="{'fa-check': thresholdsForm.warning.$valid, 'fa-times': !thresholdsForm.warning.$valid}"
                    aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group has-feedback"
             ng-class="{'has-success': thresholdsForm.ok.$valid, 'has-error': !thresholdsForm.ok.$valid}">
          <label class="text-success">{{'ACCOUNT.CONFIG.OK_THRESHOLD'|translate}}</label>
          <input type="number"
                 name="ok"
                 min="{{data.acc.thresholds.warning}}"
                 ng-model="data.acc.thresholds.ok"
                 ng-model-options="{debounce: 1000}"
                 ng-change="updateTS(thresholdsForm.$valid)"
                 class="form-control input-sm"
                 placeholder="{{'ACCOUNT.CONFIG.OK_THRESHOLD'|translate}}"
                 required>
                 <i class="fa fa-fw form-control-feedback"
                    ng-class="{'fa-check': thresholdsForm.ok.$valid, 'fa-times': !thresholdsForm.ok.$valid}"
                    aria-hidden="true"></i>
        </div>

      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="progress" style="height: 30px;">
        <div class="progress-bar progress-bar-danger" style="width: 25%; text-align: right;">
          <span style="position: relative; left: 25px; top: 5px;"><strong>{{data.acc.thresholds.critical|currency:''}} €</strong></span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 25%; text-align: right;">
          <span style="position: relative; left: 25px; top: 5px;"><strong>{{data.acc.thresholds.warning|currency:''}} €</strong></span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 25%; text-align: right;">
          <span style="position: relative; left: 25px; top: 5px;"><strong>{{data.acc.thresholds.ok|currency:''}} €</strong></span>
        </div>
        <div class="progress-bar progress-bar-info" style="width: 25%"></div>
      </div>
    </div>
  </div>
</div>
