<!-- Edit Modal -->
<script type="text/ng-template" id="editModal.html">
  <div class="modal-header">
    <p class="modal-title lead">
      {{'OVERVIEW.MODAL.EDIT.TITLE'|translate}}
    </p>
  </div>
  <div class="modal-body">
    <ng-form name="updateModalForm">
      <input name="name" type="text" ng-model="obj.newName" class="form-control" placeholder="{{'OVERVIEW.MODAL.EDIT.BODY'|translate}}" autocomplete="off" required>
    </ng-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">{{'OVERVIEW.MODAL.EDIT.CANCEL'|translate}}</button>
    <button class="btn btn-primary btn-sm" ng-disabled="!updateModalForm.$valid" type="button" ng-click="ok()">{{'OVERVIEW.MODAL.EDIT.OK'|translate}}</button>
  </div>
</script>
<!-- !Edit Modal -->

<!-- Delete Modal -->
<script type="text/ng-template" id="deleteModal.html">
  <div class="modal-header">
    <p class="modal-title lead">
      {{'OVERVIEW.MODAL.DELETE.TITLE'|translate}}
    </p>
  </div>
  <div class="modal-body">
    <p>
      {{'OVERVIEW.MODAL.DELETE.BODY'|translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="cancel()">{{'OVERVIEW.MODAL.DELETE.CANCEL'|translate}}</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="ok()">{{'OVERVIEW.MODAL.DELETE.OK'|translate}}</button>
  </div>
</script>
<!-- !Delete Modal -->

<div class="row">
  <div class="col-xs-12">
    <h3>{{'OVERVIEW.TITLE'|translate}}</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a ng-repeat="acc in accounts" href="#/account/{{acc._id}}" class="list-group-item">
        <div class="row"
             ng-class="{'text-info': acc.balance > acc.thresholds.ok,
                        'text-success': acc.balance > acc.thresholds.warning && acc.balance < acc.thresholds.ok,
                        'text-warning': acc.balance > acc.thresholds.critical && acc.balance < acc.thresholds.warning,
                        'text-danger': acc.balance < acc.thresholds.critical}">
          <div class="col-xs-4">
            <i class="fa fa-fw"
               ng-class="{'fa-exclamation': acc.balance > acc.thresholds.critical && acc.balance < acc.thresholds.warning,
                          'fa-exclamation-circle': acc.balance < acc.thresholds.critical}"></i>
            <strong>{{acc.name}}</strong>
          </div>
          <div class="col-xs-4 text-center">
            <strong>{{acc.balance|currency:''}} €</strong>
          </div>
          <div class="col-xs-4 text-right">
            <button type="button" class="btn btn-warning btn-xs" ng-click="edit(acc._id)"><i class="fa fa-fw fa-edit"></i> {{'OVERVIEW.EDIT'|translate}}</button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="remove(acc._id)"><i class="fa fa-fw fa-remove"></i> {{'OVERVIEW.REMOVE'|translate}}</button>
          </div>
        </div>
      </a>

      <li class="list-group-item" ng-show="new">
        <div class="row">
          <div class="col-xs-4">
            <input type="text" ng-model="newAccount.name" class="input-sm form-control" placeholder="{{'OVERVIEW.FORM.NAME'|translate}}" required>
          </div>
          <div class="col-xs-4">
            <input type="text" ng-model="newAccount.init" class="input-sm form-control" placeholder="{{'OVERVIEW.FORM.INIT'|translate}}" required>
          </div>
          <div class="col-xs-4">
            <button type="button" ng-disabled="!newAccount.init || !newAccount.name" ng-click="insert()" class="btn btn-default btn-block btn-sm">{{'OVERVIEW.FORM.SUBMIT'|translate}}</button>
          </div>
        </div>
      </li>

      <a href="" ng-click="new=true" class="list-group-item">
        <div class="row">
          <div class="col-xs-12 text-center">
            <strong><i class="fa fa-fw fa-plus"></i> {{'OVERVIEW.NEW_ACCOUNT'|translate}}</strong>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
