<!DOCTYPE html>
<html lang="en" ng-app="mirApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Make It Rain</title>

  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/sb-admin.css">
</head>

<body style="background-color: #fff;">

  <div id="wrapper" style="padding-left: 0">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="topBarCtrl">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Make it Rain</a>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-left top-nav" ng-if="route.current.contextTopBar">
        <li>
          <a href="#" tooltip-placement="bottom" uib-tooltip="{{'NAV.BACK_TOOLTIP'|translate}}"><i class="fa fa-fw fa-home"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-right top-nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-flag"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu alert-dropdown">
            <li>
              <a>{{'NAV.LANGUAGE_SELECTION'|translate}}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="selectLocale('en_US')"><i ng-class="{'fa-check': currentLocale === 'en_US'}" class="fa fa-fw "></i> {{'NAV.LANGUAGES.ENGLISH'|translate}}</a>
            </li>
            <li>
              <a ng-click="selectLocale('fr_FR')"><i ng-class="{'fa-check': currentLocale === 'fr_FR'}" class="fa fa-fw"></i> {{'NAV.LANGUAGES.FRENCH'|translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div id="page-wrapper">
      <div class="container-fluid">
        <div ng-view></div>
      </div>
    </div>

  </div>

  <!-- SCRIPTS -->
  <script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');</script>
  <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="../node_modules/angular-translate/dist/angular-translate.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>
  <script type="text/javascript" src="../controllers.js"></script>

</body>

</html>
